// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/css/font-awesome";
@import "vendor/markdown";


.jumbotron {
  text-align: center;
}

.topnav .github-login .btn.login-btn {
  margin-top: 7px;
}

.contentBox li {
    float: left;
    margin-left: 30px;
    width: 220px;
    display:block;
}
.contentBox li img{
    width:220px;
    height:124px;
    display:block;
}
